@import "tailwindcss";

@theme {
	/* font-family */
	--font-rubik: "Rubik", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;

	/* font-size */
	--text-5xl: 2.986rem;
	--text-4xl: 2.488rem;
	--text-3xl: 2.074rem;
	--text-2xl: 1.728rem;
	--text-xl: 1.44rem;
	--text-l: 1.2rem;
	--text-m: 1rem;
	--text-sm: 0.833rem;
	--text-xsm: 0.694rem;

	/* color */
	--color-primary: #0077b6;
	--color-secondary: #2ecc71;
	--color-alert: #ffb400;
	--color-positive: #36c281;
	--color-negative: #d00000;
	--color-black: #131313;
	--color-white: #ebebeb;
}

@layer base {
	body {
		@apply min-h-dvh flex flex-col items-center bg-white text-black dark:bg-black dark:text-white;
	}

	header{
		@apply w-full max-w-400;
	}

	main{
		@apply max-w-400;
	}

	footer{
		@apply mt-auto max-w-400;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-rubik font-normal text-black dark:text-white;
	}

	h1 {
		@apply text-5xl font-bold;
	}

	h2 {
		@apply text-4xl font-bold;
	}

	h3 {
		@apply text-3xl font-semibold;
	}

	h4 {
		@apply text-2xl font-semibold;
	}

	h5 {
		@apply text-xl font-medium;
	}

	h6 {
		@apply text-l font-medium;
	}

	p,
	a,
	label,
	input {
		@apply font-montserrat text-m font-normal text-black dark:text-white;
	}

	a,
	button {
		@apply cursor-pointer;
	}

	button {
		@apply font-montserrat text-m uppercase bg-primary rounded-lg font-bold text-white dark:text-black;
	}

	input {
		@apply border-solid border border-black bg-white rounded-lg dark:border-white dark:bg-black;
	}

	input:focus {
		@apply border-primary;
	}
}

@layer components {
	.navItem {
		@apply w-fit relative;
	}

	.navItem::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background: white;
		width: 0px;
	}

	.navItem:hover::after {
		width: 100%;
	}
}
