@use "./variables.scss" as var;
@use "./mixins.scss" as mix;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100dvh;
	min-width: 100dvw;
	background-color: var.$color-black;
	color: var.$color-white;
	@include mix.flex($direction: column, $align: center);
}

header {
	min-width: 100%;
}

main {
	flex: 1;
	min-width: 100%;
}

footer {
	min-width: 100%;
	margin-top: auto;
}

h1 {
	font-family: var.$family-title;
	font-size: var.$size-5xl;
	font-weight: var.$weight-bolder;
}

h2 {
	font-family: var.$family-title;
	font-size: var.$size-4xl;
	font-weight: var.$weight-bold;
}

h3 {
	font-family: var.$family-title;
	font-size: var.$size-3xl;
	font-weight: var.$weight-bold;
}

h4 {
	font-family: var.$family-title;
	font-size: var.$size-2xl;
	font-weight: var.$weight-medium;
}

h5 {
	font-family: var.$family-title;
	font-size: var.$size-xl;
	font-weight: var.$weight-medium;
}

h6 {
	font-family: var.$family-title;
	font-size: var.$size-l;
	font-weight: var.$weight;
}

p {
	font-family: var.$family-text;
	font-size: var.$size;
	font-weight: var.$weight;
}

a {
	font-family: var.$family-text;
	font-size: var.$size;
	font-weight: var.$weight;
	color: var.$color-white;
}

button {
	font-family: var.$family-text;
	font-size: var.$size;
	font-weight: var.$weight-bolder;
	background-color: var.$color-primary;
	border: solid 0 var.$color-primary;
	border-radius: 0.25rem;
	cursor: pointer;
}

label {
	font-family: var.$family-text;
	font-size: var.$size;
	font-weight: var.$weight;
	color: var.$color-white;
}

input {
	font-family: var.$family-text;
	font-size: var.$size;
	font-weight: var.$weight;
	background-color: var.$color-black;
	color: var.$color-white;
	border: solid 0.15rem var.$color-white;
	border-radius: 0.5rem;
	outline: none;
}

input:focus {
	border-color: var.$color-primary;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var.$color-black;
		color: var.$color-white;
	}

	button {
		color: var.$color-black;
	}

	label {
		color: var.$color-white;
	}

	input {
		background-color: var.$color-black;
		color: var.$color-white;
		border-color: var.$color-white;
	}

	a {
		color: var.$color-white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var.$color-white;
		color: var.$color-black;
	}

	button {
		color: var.$color-white;
	}

	label {
		color: var.$color-black;
	}

	input {
		background-color: var.$color-white;
		color: var.$color-black;
		border-color: var.$color-black;
	}

	a {
		color: var.$color-white;
	}
}
