//font-family
$family-title: "Rubik", sans-serif;
$family-text: "Montserrat", sans-serif;

//font-size
$size-5xl: 2.986rem;
$size-4xl: 2.488rem;
$size-3xl: 2.074rem;
$size-2xl: 1.728rem;
$size-xl: 1.44rem;
$size-l: 1.2rem;
$size: 1rem;
$size-sm: 0.833rem;
$size-xsm: 0.694rem;

//font-weight
$weight-bolder: 700;
$weight-bold: 600;
$weight-medium: 500;
$weight: 400;
$weight-light: 300;

//color

$color-primary: #0077B6;
$color-secondary: #2ECC71;
$color-alert: #FFB400;
$color-positive: #36C281;
$color-negative: #D00000;
$color-black: #131313;
$color-white: #ebebeb;