//font-family
$family-title: "Rubik", sans-serif;
$family-text: "Montserrat", sans-serif;

//font-size
$size-5xl: 2.986rem;
$size-4xl: 2.488rem;
$size-3xl: 2.074rem;
$size-2xl: 1.728rem;
$size-xl: 1.44rem;
$size-l: 1.2rem;
$size: 1rem;
$size-sm: 0.833rem;
$size-xsm: 0.694rem;

//font-weight
$weight-bolder: 700;
$weight-bold: 600;
$weight-medium: 500;
$weight: 400;
$weight-light: 300;

//color
$color-primary: #d30000;
$color-secundary: #FFD700;
$color-black: #1f1f1f;
$color-white: #e0e0e0;